@{
    ViewBag.Title = "关于" + PluginConfig.PROJECT_NAME_CN;
}
<h2>@ViewBag.Title</h2>

<p>@PluginConfig.PROJECT_NAME 是一个用于提供微信日志管理的插件。</p>
<p>在线 Demo 地址：<a href="http://TraceManager.Plugins.Weixin.Senparc.com" target="_blank">http://TraceManager.Plugins.Weixin.Senparc.com</a></p>
<p>源代码地址：<a href="@PluginConfig.PROJECT_SOURCE_URL" target="_blank">@PluginConfig.PROJECT_SOURCE_URL</a></p>

