@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    苏州盛派网络科技有限公司<br />
    <abbr title="Address">A:</abbr>
    地址：苏州市西园路609号金创商务大厦202<br />

    <abbr title="Phone">P:</abbr>
    400-031-8816
</address>

<address>
    <strong>技术支持：</strong>   <a href="mailto:Support@example.com">zsu@senparc.com</a><br />
    <strong>市场：</strong> <a href="mailto:Marketing@example.com">zli@senparc.com</a>
</address>